<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{ flag }}" alt="{{ data.countryCode|lower }}" srcset="{{ data.countryCode }}">
   <ul>
        <li>Ip adress <b>{{ data.query }}</b> </li>
        <li>Region <b>{{ data.region}}</b> </li>
        <li>Country Name <b>{{ data.country }}({{ data.countryCode}})</b> </li>
        <li>Region Name <b>{{ data.regionName }}</b> </li>
        <li>Internet service Provider <b>{{ data.isp }}</b> </li>
        <li>Organisation <b>{{ data.org }}</b> </li>
        <li>Ip Version <b>{{ data.ip_version }}</b></li>
        <li>Cordinate | lon <b>{{ data.lon }}</b> - lat <b>{{ data.lat }}</b> </b> </li>
   </ul>
</body>
</html>